{% extends 'BASETEMP.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/aboutStyle.css')}}"/>
<script src="{{url_for('static',filename='aboutPage.js')}}"></script>
{% endblock %}

{% block body %}
<header id="WelcomeHeader"></header>
<!--
<script type="text/javascript">
	window.onload = () => {
		let WelcomeHeader = document.getElementById('WelcomeHeader');
		let NewElement = document.createElement('h1');
		NewElement.innerText = "About Page";
		WelcomeHeader.appendChild(NewElement);
	}
</script>
-->
{% endblock %}