{% extends 'BASETEMP.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
{% endblock %}

{% block body %}
<h1>Home Page</h1></br>
<div class="Username">
	<form action="/" method="POST">
		<input type="text" name="Username" id="Username"/>
		<input type="Submit" value="Submit"/>
	</form>
</div>
{% if username|length >= 1 %}
{% for i in username %}
{% for x in times_added %}
<h1>Users Setup(So Far): {{ i }} AT TIME {{ x }}</h1>
{% endfor %}
{% endfor %}
{% endif %}
{% endblock %}