{% extends 'BASETEMP.html' %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
{% endblock %}

{% block body %}
<h1>Home Page</h1></br>
<div class="Username">
	<form action="/" method="POST">
		<input type="text" name="Username" id="Username"/>
		<input type="Submit" value="Submit"/></br>
	</form>
	<button type="submit" id="ShowBadNames">Show Bad Names</button>
		<!-- Used only of above button is clicked -->
		<span id="Show"></span>
		<script>
			document.getElementById('ShowBadNames').onclick = function() {
				document.getElementById('Show').innerHTML = "<p>{{ badNames }}</p>"

				// Adding "Hide Information" button
				let HideInfoBtn = document.createElement('button');
				HideInfoBtn.id = "HideInfo";
				let HideInfoBtnTxt = document.createTextNode('Hide Information');
				HideInfoBtn.appendChild(HideInfoBtnTxt);

				document.getElementById('Show').appendChild(HideInfoBtn);

				// Seeing if HideInfo button was clicked
				document.getElementById('HideInfo').onclick = function(){
					// Just setting the paragraph to empty string
					document.getElementById('Show').innerText = '';
				}
			}
		</script>
</div>
{% if username|length >= 1 %}
{% for i in username %}
<p>Added Username: {{ i }}</p>
{% endfor %}
{% endif %}
{% endblock %}